html{
    height: 100%;
}

.carousel{
    width: 25%;
    margin: 15% auto;
    display: flex;
    filter:grayscale(1);
}

.zoom {
    transition: transform .2s;
}
  
.zoom:hover {
    transform: scale(1.2); 
    filter: none;
}